html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #2C2F33;
    margin: 0px;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #7289DA
}

a {
    color: white;
}

#content {
    width: 100%;
    position: relative;
    top: 40px;
    margin: auto;
    max-width: 800px;
    border: 1px solid rgba(4, 4, 5, 0.3);
    border-radius: 5px;
    background-color: rgba(4, 4, 5, 0.1);
    padding-bottom: 20px;
    box-shadow: 0 9px 30px 0 rgba(35, 38, 42, .1);
}

.content-header {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 100%;
    background-color: #7289DA;
    padding: 20px;
    margin-bottom: 20px;
}

.content-header h1 {
    margin: 0;
}

#start {
    position: absolute;
    top: 0;
    left: auto;
    right: 20px;
    bottom: 0;
    margin: auto 0;
    height: 0;
    width: 0;
    cursor: pointer;
    border-top: 0.75em solid transparent;
    border-bottom: 0.75em solid transparent;
    border-left: calc(1.5em * 0.866) solid #34ca34;
}

#stop {
    display: none;
    position: absolute;
    top: 0;
    left: auto;
    right: 20px;
    bottom: 0;
    margin: auto 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #FC615D;
    cursor: pointer;
}

#reboot {
    display: none;
    position: absolute;
    top: 0;
    left: auto;
    right: calc(40px + 1.5em);
    bottom: 0;
    margin: auto 0;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

#reboot::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    border-color: transparent #FDBC41 #FDBC41 #FDBC41;
    border-radius: 50%;
    border-style: solid;
    border-width: .125em;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#reboot::after {
    content: '';
    border-color: transparent transparent transparent #FDBC41;
    border-style: solid;
    border-width: .3125em 0 .3125em .5em;
    height: 0;
    position: absolute;
    top: -0.1875em;
    left: 50%;
    width: 0;
}

footer {
    position: absolute;
    background-color: #23272A;
    padding: 40px 0px;
    top: auto;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
}